@page "/"
@inject IStringLocalizer<Resource> localizer

    <div class="d-inline-flex w-100">
        <h3 class="float-right"><span class="text-primary">Goods store</span> <sup class="text-muted ">by Marbax</sup></h3>
    </div>

    <hr />

    <h4 class="m-3">@localizer["ChangeLog"]</h4>
