<div class="loading-anim-container">
    <div class="modalContent text-center">
        <h3>@Title</h3>

        <div class="mt-2 lds-dual-ring"></div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Loading...";
}
