@inherits LayoutComponentBase
@inject NavigationManager _navMngr

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <h4>Hello, User</h4>
        <button class="btn btn-danger" @onclick="Logout">Logout</button>
    </div>
    <div class="top-row px-4">
        <button class="btn btn-success" @onclick="Login">Login</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    private void Logout()
    {
        _navMngr.NavigateTo("/", true);
    }

    private void Login()
    {
        _navMngr.NavigateTo("/", true);
    }

}